<div class="container mt-5">
    <h1 class="mb-4">Product List</h1>
    <ul class="list-group">
        {{#each products}}
            <li class="list-group-item">{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>
</div>
