<div class="container mt-5">
    <h1 class="mb-4">Real-Time Product List</h1>
    <ul id="product-list" class="list-group">
        {{#each products}}
            <li class="list-group-item">{{this.title}} - ${{this.price}}</li>
        {{/each}}
    </ul>

    <h2 class="mt-5">Add Product</h2>
    <form id="add-product-form" class="form-inline">
        <div class="form-group mb-2">
            <label for="productName" class="sr-only">Product Name</label>
            <input type="text" name="name" class="form-control" id="productName" placeholder="Product Name" required>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="productPrice" class="sr-only">Product Price</label>
            <input type="number" name="price" class="form-control" id="productPrice" placeholder="Product Price" required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>

    <h2 class="mt-5">Delete Product</h2>
    <form id="delete-product-form" class="form-inline">
        <div class="form-group mb-2">
            <label for="productId" class="sr-only">Product ID</label>
            <input type="text" name="productId" class="form-control" id="productId" placeholder="Product ID" required>
        </div>
        <button type="submit" class="btn btn-danger mb-2">Delete</button>
    </form>
</div>
